<div>
  <h2 id="page-heading" data-cy="ThemeHeading">
    <span jhiTranslate="nightnightApp.theme.home.title">Themes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="nightnightApp.theme.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-theme"
        [routerLink]="['/theme/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="nightnightApp.theme.home.createLabel"> Create a new Theme </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="themes?.length === 0">
    <span jhiTranslate="nightnightApp.theme.home.notFound">No themes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="themes && themes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="nightnightApp.theme.title">Title</span></th>
          <th scope="col"><span jhiTranslate="nightnightApp.theme.link">Link</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let theme of themes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/theme', theme.id, 'view']">{{ theme.id }}</a>
          </td>
          <td>{{ theme.title }}</td>
          <!-- <td>{{ theme.link }}</td> -->
          <td><a href={{theme.link}}><div>{{theme.link}}</div></a></td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/theme', theme.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/theme', theme.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(theme)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
