<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="title">
      <h2 data-cy="titleDetailsHeading"><span jhiTranslate="nightnightApp.title.detail.title">Title</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ title.id }}</span>
        </dd>
        <dt><span jhiTranslate="nightnightApp.title.title">Title</span></dt>
        <dd>
          <span>{{ title.title }}</span>
        </dd>
        <dt><span jhiTranslate="nightnightApp.title.themes">Themes</span></dt>
        <dd>
          <span>{{ title.themes }}</span>
        </dd>
        <dt><span jhiTranslate="nightnightApp.title.link">Link</span></dt>
        <dd>
          <span>{{ title.link }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/title', title.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
